.advantages__list {
  @media (min-width: $mobile-width) {
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-bottom: 2px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    width: 768px;
    height: 330px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    height: 330px;
  }
}

.advantages__item {
  @media (min-width: $mobile-width) {
    position: relative;
    list-style: none;
    text-align: left;
    padding-left: 69px;
    padding-right: 44px;

    .advantages__image {
      position: absolute;
      top: -10px;
      left: 20px;
      width: 39px;
      height: 37px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 256px;
    text-align: center;
    padding-top: 164px;
    padding-left: 20px;
    padding-right: 20px;

    .advantages__image {
      position: absolute;
      top: 60px;
      left: 90px;
      width: 75px;
      height: 72px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding-top: 164px;
    padding-left: 20px;
    padding-right: 20px;

    .advantages__image {
      position: absolute;
      top: 59px;
      left: 161px;
      width: 75px;
      height: 72px;
    }
  }
}

.advantages__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}

.advantages__description {
  @media (min-width: $mobile-width) {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    margin-bottom: 38px;
    line-height: 21px;
    color: $light-black;
    text-transform: uppercase;

    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--housing {
    grid-column: 1 / 2;
  }

  .advantages__item--souvenirs {
    grid-column: 3 / 4;
  }

  .advantages__item--food {
    grid-row: 1;
    grid-column: 2 / 3;
  }
}
