.advantages__list {
  @media (min-width: $mobile-width) {
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-bottom: 2px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 768px;
    height: 330px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    height: 330px;
  }
}

.advantages__item {
  @media (min-width: $mobile-width) {
    list-style: none;
    text-align: left;
    padding-left: 69px;
    padding-right: 44px;
  }

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-bottom: 27px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}

.advantages__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  margin-bottom: 38px;
  line-height: 21px;
  color: $light-black;
  text-transform: uppercase;
}
