@media (min-width: $mobile-width) {
  .catalog__list {
    margin: 0;
    padding: 0;
  }

  .catalog__item {
    padding: 20px;
    padding-top: 22px;
    width: 320px;
    list-style: none;
    border-top: 1px solid $base-gray;
  }

  .catalog__info-wrapper {
    text-align: start;
  }

  .catalog__title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-top: 11px;
    text-transform: uppercase;
  }

  .catalog__text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 10px;
  }

  .catalog__number--vast {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-left: 35px;
  }

  .catalog__number {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-left: 35px;
  }
}

@media (min-width: $tablet-width) {
  .photo-video__catalog {
    padding: 0 60px;
  }

  .catalog__info-wrapper {
    display: block;
    position: relative;
    height: 80px;
    background-color: $base-gray;
    padding-top: 16px;
    padding-left: 20px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 480px 347px 347px;
  }

  .catalog__item {
    padding: 0;
    border: none;
  }

  .catalog__title {
    margin: 0;
    text-transform: uppercase;
  }

  .catalog__number--vast {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-left: 355px;
    margin-top: -4px;
  }

  .catalog__number {
    position: absolute;
    top: 30px;
    left: 236px;
  }

  .catalog__photo {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .photo-video__catalog {
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
  }

  .catalog__info-wrapper {
    display: block;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.25);
    color: $base-white;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 267px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .catalog__title {
    margin: 0;
    text-transform: uppercase;
  }

  .catalog__number--vast {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-left: 835px;
  }

  .catalog__number {
    position: absolute;
    top: 30px;
    left: 312px;
  }

  .catalog__photo {
    display: none;
  }
}

.catalog__item--vast {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    grid-column-start: 1;
    grid-column-end: -1;
    width: 648px;
    height: 480px;
    background-image: url("../img/photo-sunset-desktop@1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 400px;
    background-image: url("../img/photo-sunset-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

.catalog__item--vegetation {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    width: 324px;
    height: 347px;
    background-image: url("../img/photo-cactus-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    height: 267px;
    background-image: url("../img/photo-cactus-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

.catalog__item--north {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    width: 324px;
    height: 347px;
    background-image: url("../img/photo-roads-tablet@1x.jpg");
    background-repeat: no-repeat;

    .catalog__info-wrapper--north {
      background-color: $base-gray-special;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    height: 267px;
    background-image: url("../img/photo-roads-desktop@1x.jpg");
    background-repeat: no-repeat;

    .catalog__info-wrapper--north {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.catalog__item--bridge {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    width: 324px;
    height: 347px;
    background-image: url("../img/photo-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    height: 267px;
    background-image: url("../img/photo-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

.catalog__like {
  @media (min-width: $mobile-width) {
    position: absolute;
    left: 14px;
    width: 23px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0.3;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 28px;
    left: 233px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 28px;
    left: 309px;
    fill: $base-white;
    opacity: 1;
  }
}

.catalog__like--vast {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 30px;
    left: 560px;
    width: 23px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 1108px;
    width: 23px;
    height: 20px;
    fill: $base-white;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 1;
  }
}
