.copyright__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-right: 13px;
  color: $light-black;
  text-transform: uppercase;
}
