@import "../variables/variables.scss";
@import "../global/fonts.scss";
@import "../global/global.scss";
.features__advantages {
  width: 320px;
}
.advantages__item {
  list-style: none;
}
.advantages__title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black-color;
  text-transform: uppercase;
}
.advantages__description {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $light-black-color;
  text-transform: uppercase;
}
