.features__reason-four {
  @media (min-width: $mobile-width) {
    width: 320px;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

@media (min-width: $mobile-width) {
  .reason-four__title {
    br {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .reason-four__title {
    br {
      display: block;
    }
  }

  .reason-four__description {
    br {
      display: block;
    }
  }
}
