.features {
  width: 320px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.features__main-reason__wrapper {
  @media (min-width: $mobile-width) {
    position: relative;
    background-color: $base-blue;

    .features__triangle-blue {
      position: absolute;
      left: 0;
      fill: $base-blue;
      background-color: $base-white;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 768px;

    .features__triangle-blue {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.features__main-reason {
  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.features__image-wrapper {
  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;

    .image-wrapper {
      width: 512px;
      height: 256px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 800px;

    .image-wrapper {
      width: 800px;
      height: 256px;
    }
  }
}
