@import "../variables/variables.scss";

.features {
  width: 320px;
  text-align: center;
  margin: 0;
}

.features__main-reason {
  background-color: $base-blue;
}

@media (min-width: $tablet-width) {
  .features__main-reason {
    width: 256px;
    background-color: $base-blue;
  }
}

@media (min-width: $desktop-width) {
  .features__main-reason {
    width: 400px;
    background-color: $base-blue;
  }
}

@media (min-width: $desktop-width) {
  .features__main-reason__image {
    width: 800px;
  }
}
