@import "../variables/variables.scss";
@import "../global/fonts.scss";
@import "../global/global.scss";
.features {
  width: 320px;
  text-align: center;
}
.features__main-reason {
  background-color: $base-blue-color;
}
