@import "../variables/variables.scss";

.find {
  text-align: center;
  padding-bottom: 49px;
  margin: 0;
  outline: 5px solid green;
  outline-offset: -5px;
}

@media (min-width: $tablet-width) {
  .find {
    width: 768px;
    height: 318px;
  }
}

@media (min-width: $desktop-width) {
  .find {
    width: 1200px;
    height: 318px;
  }
}

.find__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  color: $base-black;
  text-transform: uppercase;
}

.find__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $light-black;
  text-transform: uppercase;
}

.find__search {
  font-style: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-top: 20px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 22px;
  background-color: $base-blue;
  color: $base-white;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .find__search {
    padding-left: 136px;
    padding-right: 136px;
  }
}

@media (min-width: $desktop-width) {
  .find__search {
    padding-left: 136px;
    padding-right: 136px;
  }
}
