@import "../variables/variables.scss";

.form-feedback {
  width: 320px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.form-feedback__group {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    outline: 5px solid rgba(0, 255, 0, 0.8);
    outline-offset: -5px;
  }
}

.form-feedback__title {
  margin: 0 auto;
  padding-top: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}

.introduce-yourself__item,
.сontact-information__item,
.impression__item,
.special-places__item {
  list-style: none;
}

.introduce-yourself__label,
.сontact-information__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: $light-black;
  text-transform: uppercase;
}

.introduce-yourself__input,
.сontact-information__input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
}

.impression__label,
.special-places__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
}

.describe-emotions__text {
  width: 279px;
  height: 160px;
  resize: none;
  margin-top: 22px;
  margin-bottom: 26px;
  padding-top: 19px;
  padding-left: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
  background-color: $light-gray;
  border: none;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.form-feedback__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-top: 25px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 48px;
  padding-right: 47px;
  padding-bottom: 22px;
  background-color: $base-blue;
  color: $base-white;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.form-feedback__leave-feedback {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 335px 335px 335px 335px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 479px 479px;
    grid-template-rows: 335px 335px 335px 335px;
    padding: 0 120px;
  }
}

@media (min-width: $tablet-width) {
  .introduce-yourself {
    grid-column: 2 / 3;
  }

  .сontact-information {
    grid-row: 2 / 3;
  }

  .impression {
    grid-row: 1 / 2;
  }

  .special-places {
    grid-row: 3 / 4;
  }

  .describe-emotions {
    grid-row: 4 / 5;
  }

  .form-feedback__button {
    grid-row: 5 / 6;
    outline: 5px solid rgba(0, 255, 0, 0.8);
    outline-offset: -5px;
  }
}

@media (min-width: $mobile-width) {
  .introduce-yourself__list {
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
  }

  .introduce-yourself__item {
    display: flex;
    padding: 20px;
  }

  .introduce-yourself__label {
    margin-right: 13px;
  }

  .introduce-yourself__input {
    width: 100%;
    padding-left: 23px;
    background-color: $light-gray;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .introduce-yourself__list {
    width: 324px;
    height: 335px;
    margin: 0;
    padding: 0;
    padding-bottom: 26px;

    @media (min-width: $desktop-width) {
      width: 479px;

      .introduce-yourself__item {
        margin-left: 81px;
        padding-right: 0;
      }
    }
  }

  .introduce-yourself__item {
    display: flex;
    padding: 20px;
  }

  .introduce-yourself__label {
    margin-right: 13px;
  }

  .introduce-yourself__input {
    width: 100%;
    padding-left: 23px;
    background-color: $light-gray;
    border: none;
  }
}

@media (min-width: $mobile-width) {
  .сontact-information__list {
    margin: 0;
    padding: 0;
    padding-bottom: 26px;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }

  .сontact-information__item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  .сontact-information__input {
    width: 100%;
    padding-left: 20px;
    background-color: $light-gray;
    border: none;
  }

  .сontact-information__label {
    margin-left: 22px;
    margin-bottom: 17px;
  }
}

@media (min-width: $tablet-width) {
  .сontact-information__list {
    width: 648px;
    height: 335px;
    margin: 0;
    padding: 0;
    padding-bottom: 26px;

    @media (min-width: $desktop-width) {
      width: 960px;
    }
  }

  .сontact-information__item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 0;
  }

  .сontact-information__input {
    width: 100%;
    padding: 24px;
    background-color: $light-gray;
    border: none;
  }

  .сontact-information__label {
    margin-left: 22px;
    margin-bottom: 17px;
  }
}

@media (min-width: $mobile-width) {
  .impression__list {
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
  }

  .impression__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
  }

  .impression__input {
    width: 56px;
    margin: 0;
    background-color: $light-gray;
  }
}

@media (min-width: $mobile-width) {
  .special-places__list {
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
  }

  .special-places__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
  }

  .special-places__input {
    width: 56px;
    margin: 0;
    background-color: $light-gray;
  }
}

@media (min-width: $tablet-width) {
  .special-places__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 648px;
    margin: 0;
    padding: 0;
    padding-top: 48px;
    padding-bottom: 26px;

    @media (min-width: $desktop-width) {
      width: 960px;
    }
  }

  .special-places__item {
    width: 230px;
    padding: 20px;
  }

  .special-places__input {
    width: 56px;
    margin: 0;
    background-color: $light-gray;
  }
}

.describe-emotions {
  @media (min-width: $tablet-width) {
    width: 648px;
  }
}
