@import "../variables/variables.scss";

.form-feedback {
  width: 320px;
  text-align: center;
}

.form-feedback__group {
  border: none;
}

.form-feedback__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}

.introduce-yourself__item,
.сontact-information__item,
.impression__item,
.special-places__item {
  list-style: none;
}

.introduce-yourself__label,
.сontact-information__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: $light-black;
  text-transform: uppercase;
}

.introduce-yourself__input,
.сontact-information__input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
}

.impression__label,
.special-places__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
}

.describe-emotions__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $light-black;
}

.form-feedback__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-top: 20px;
  padding-left: 48px;
  padding-right: 47px;
  padding-bottom: 22px;
  background-color: $base-blue;
  color: $base-white;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
