@import "../variables/variables.scss";

.intro {
  width: 320px;
  text-align: center;
}

.intro__wrapper {
  outline: 5px solid green;
  outline-offset: -5px;
}

@media (min-width: $tablet-width) {
  .intro__image {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .intro__wrapper {
    min-width: 768px;
    height: 290px;
    background-image: url("../img/slice-tablet.jpg");
    outline: 5px solid green;
    outline-offset: -5px;
  }
}

@media (min-width: $desktop-width) {
  .intro__wrapper {
    min-width: 1200px;
    height: 301px;
    background-image: url("../img/slice-desktop.jpg");
    outline: 5px solid green;
    outline-offset: -5px;
  }
}
