.promo__logo {
  @media (min-width: $mobile-width) {
    width: 282px;
    height: 214px;
    margin-top: 90px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 461px;
    height: auto;
    margin: 0 auto;
    padding-top: 77px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
  }
}

.intro__logo {
  @media (min-width: $mobile-width) {
    position: absolute;
    left: 277px;
    top: -106px;
    width: 230px;
    margin-left: -230px;
  }

  @media (min-width: $tablet-width) {
    width: 459px;
    height: auto;
    left: 387px;
    top: -43px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    position: absolute;
    left: 50%;
    top: -110px;
    width: 460px;
    height: auto;
    margin-left: -230px;
  }
}

.intro__logo__sedona {
  @media (min-width: $tablet-width) {
    width: 459px;
    height: auto;
  }
}
