.main-nav {
  width: 320px;
  background: $base-blue;
  text-align: center;
}

.site-list__item {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

.site-list__link {
  color: $base-white;
  text-decoration: none;
}
