@import "../variables/variables.scss";

.main-nav {
  @media (min-width: $mobile-width) {
    position: relative;
    width: 320px;
    text-align: center;
    background-color: $base-blue;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    background-color: $base-white;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  @media (min-width: $mobile-width) {
    text-align: center;
    list-style: none;
    border-top: 1px solid $base-light-blue;
    border-bottom: 1px solid $base-dark-blue;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-list__link {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 40px;
  color: $base-white;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: $base-black;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1100px;
  }
}

.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 692px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1040px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  background: none;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (min-width: $mobile-width) {
  .main-nav__toggle::before,
  .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -2px;
    width: 25px;
    height: 4px;
    background-color: $base-white;
    cursor: pointer;
  }

  .main-nav__toggle::before {
    transform: rotate(45deg);
  }

  .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
}
