.main-reason {
  text-transform: uppercase;
  color: $base-white;
  padding-top: 17px;
}

@media (min-width: $tablet-width) {
  .main-reason {
    width: 256px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .main-reason {
    width: 400px;
    height: 256px;
  }
}

.main-reason__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-white;
}

.main-reason__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $base-white;
}

.main-reason__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $base-white;
}
