@import "../variables/variables.scss";

.photo-video {
  width: 320px;
  text-align: start;
}

.photo-video__info {
  text-align: center;
}

.photo-video__title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}

.photo-video__text {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $light-black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .photo-video {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .photo-video {
    width: 1200px;
  }
}

@media (min-width: $tablet-width) {
  .photo-video__info {
    width: 768px;
    height: 248px;
    text-align: center;
  }

  .photo-video__title {
    font-size: 30px;
    margin: 0;
    padding-top: 66px;
  }
}

@media (min-width: $desktop-width) {
  .photo-video__info {
    width: 1200px;
    height: 285px;
  }

  .photo-video__title {
    font-size: 30px;
    margin: 0;
    padding-top: 102px;
  }
}
