.promo {
  position: relative;
  width: 320px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

@media (min-width: $tablet-width) {
  .promo__image {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    width: 768px;
    height: 518px;
    background-image: url("../img/slice-back-tablet.jpg");
    background-repeat: no-repeat;
  }
}

.promo__info {
  @media (min-width: $mobile-width) {
    padding-top: 35px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 206px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 206px;
  }
}


@media (min-width: $desktop-width) {
  .promo__wrapper {
    width: 1200px;
    height: 518px;
    background-image: url("../img/slice-back-desktop.jpg");
    background-repeat: no-repeat;
  }
}

.promo__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
  color: $base-black;
}

.promo__description {
  @media (min-width: $mobile-width) {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 33px;
    color: $light-black;
  }
}
