@import "../variables/variables.scss";
.promo {
  width: 320px;
  text-align: center;
}
.promo__title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $base-black-color;
}
.promo__description {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $light-black-color;
}
