.reason-four {
  background-color: $light-gray;
}

.reason-four__list {
  @media (min-width: $mobile-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
  }
}

.reason-four__item {
  @media (min-width: $mobile-width) {
    list-style: none;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 280px;
    margin: 0 auto;
    border-bottom: 1px solid $dark-gray;
  }

  @media (min-width: $tablet-width) {
    width: 256px;
    padding-top: 44px;
    padding-bottom: 40px;
    background-color: $base-gray;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    background-color: $base-gray;
  }
}

<<<<<<< HEAD
.reason-four__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  color: $base-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.reason-four__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $light-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 23px;
  }
}

.reason-four__description {
  @media (min-width: $mobile-width) {
    display: inline-block;
    padding: 12px;
=======
@media (min-width: $mobile-width) {
  .reason-four__title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    color: $base-black;
    text-transform: uppercase;
  }

  .reason-four__number {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $light-black;
    text-transform: uppercase;
  }

  .reason-four__description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $light-black;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .reason-four__title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    color: $base-black;
    text-transform: uppercase;
  }

  .reason-four__number {
>>>>>>> 5264aff70dc355bcee0e7bf30be3340fb9ce3a5d
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $light-black;
    text-transform: uppercase;
<<<<<<< HEAD
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 55px;
    padding-right: 55px;
=======
  }

  .reason-four__description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $light-black;
    text-transform: uppercase;
>>>>>>> 5264aff70dc355bcee0e7bf30be3340fb9ce3a5d
  }
}
