@import "../variables/variables.scss";

.reason-four__list {
  margin: 0;
  padding: 0;
}

.reason-four__item {
  list-style: none;
  outline: 2px solid green;
  outline-offset: -5px;
}

@media (min-width: $tablet-width) {
  .reason-four__item {
    width: 256px;
    background-color: $base-gray;
  }
}

@media (min-width: $desktop-width) {
  .reason-four__item {
    width: 400px;
    background-color: $base-gray;
  }
}

@media (min-width: $tablet-width) {
  .reason-four__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 768px;
    height: 330px;
  }
}

@media (min-width: $desktop-width) {
  .reason-four__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    height: 330px;
  }
}

.reason-four__title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}

.reason-four__number {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $light-black;
  text-transform: uppercase;
}

.reason-four__description {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $light-black;
  text-transform: uppercase;
}
