@import "../variables/variables.scss";
@import "../global/fonts.scss";
@import "../global/global.scss";
.reason-four__list {
  background-color: $base-gray;
}
.reason-four__item {
  /*background-color: $base-gray-color;*/
  list-style: none;
}
.reason-four__title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}
.reason-four__number {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $light-black;
  text-transform: uppercase;
}
.reason-four__description {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $light-black;
  text-transform: uppercase;
}
