.social__list {
  display: flex;
  align-items: center;
  width: 151px;
  padding: 0;
  list-style: none;
}

.social__item {
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social__item:nth-child(3n) {
  margin: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: $base-blue;
  cursor: pointer;

  &:hover {
    background-color: $special-dark-blue;
  }

  &:active {
    background-color: $special-navy-blue;
  }
}

.social__image {
  &:active {
    fill: $base-white;
    opacity: 0.3;
  }
}
