.video__info {
  text-align: center;
  padding-left: 43px;
  padding-right: 32px;
}

.video__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}

.video__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $light-black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .video__info {
    padding-left: 102px;
    padding-right: 102px;
  }
}

@media (min-width: $desktop-width) {
  .video__info {
    padding-left: 177px;
    padding-right: 177px;
  }
}

.video__content {
  width: 320px;
  height: 201px;
  margin-bottom: -45px;
  background-image: url("../img/slice-clip-mobile.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .video__content {
    width: 648px;
    height: 500px;
    margin-bottom: -93px;
    background-image: url("../img/slice-clip-tablet.jpg");
  }
}

@media (min-width: $desktop-width) {
  .video__wrapper {
    padding: 0 199px;
  }

  .video__content {
    width: 800px;
    height: 500px;
    background-image: url("../img/slice-clip-desktop.jpg");
  }
}

.video__presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.video__controls-panel {
  @media (min-width: $mobile-width) {
    margin: 0 auto;
    width: 280px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: $mobile-width) {
  .video__button {
    width: 280px;
    height: 66px;
    margin: 0 auto;
    background-color: $base-gray;
  }
}

@media (min-width: $tablet-width) {
  .video__button {
    display: none;
  }
}
