@import "../variables/variables.scss";

.page-header {
  display: flex;
  flex-direction: column;
  height: 56px;
  background-color: $base-white;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.page-header__logo {
  height: 84px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 85px;
   }
  .site-list__link {
    color: $light-black;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 97px;
  }
}

/*
.page-header__logo {
  height: 84px;

  @media (min-width: $tablet-width) {
    height: 85px;
  }

  @media (min-width: $desktop-width) {
    height: 97px;
  }
}
*/
