.page-footer__hashtag {
  margin: 0 auto;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}

@media (min-width: $mobile-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 44px;
    padding-left: 84px;
    padding-right: 84px;
    padding-bottom: 23px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

/*
@media (min-width: $tablet-width) {
  .page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 768px;
    height: 120px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    height: 120px;
  }
}
*/
