@import "../variables/variables.scss";
@import "../global/global.scss";

.page-footer {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.page-footer__hashtag {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}

.copyright__text {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: $light-black;
  text-transform: uppercase;
}
