@import "../variables/variables.scss";

.page-header {
  @media (min-width: $mobile-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 260px;
    background-color: $base-white;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    height: 56px;
  }
}

.page-header__logo {
  @media (min-width: $mobile-width) {
    position: absolute;
    top: 208px;
    left: 35%;
    height: 85px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    height: 85px;
    background-image: url("img/logo-sedona-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    height: 97px;
  }
}
