@import "../variables/variables.scss";
@import "../global/global.scss";

.page-footer {
  height: 233px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 768px;
    height: 120px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    height: 120px;
  }
}

.page-footer__hashtag {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $base-black;
  text-transform: uppercase;
}

.copyright__text {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: $light-black;
  text-transform: uppercase;
}
