@import "../variables/variables.scss";

.page-header {
  display: flex;
  flex-direction: column;
  height: 56px;
  background-color: $base-white;
}

.page-header__logo {
  height: 84px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .page-header__logo {
    position: absolute;
    height: 85px;
  }

  .site-list__link {
    color: $light-black;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 97px;
  }
}
